* {
    font-weight: bold;
}

body {
    user-select: none;
}

table {
    text-align: center;
}

div.row>div {
    padding-right: 0;
}

/* Anything with a data-cid attribute opens the character modal. */
.pointer, *[data-cid]
{
    cursor: pointer;
}

.template {
    display: none;
}
