* {
    font-weight: bold;
}

body {
    user-select: none;
}

table {
    text-align: center;
}

div.row>div {
    padding-right: 0;
}

div.accordion>div.card>div.card-header, /* Campaign accordion header toggles. */
*[data-cid], /* Anything with a data-cid attribute opens the character modal. */
#campaignList i.fa-solid[data-id], /* Campaign accordion selection checkboxes. */
#combatTable>tr>td[data-segment], /* Specific segment selectors. */
#combatTable>tr>td i.fa-solid[data-recovery] /* Take a recovery icon. */
{
    cursor: pointer;
}

.template {
    display: none;
}
